
@{
    ViewBag.Title = "FormGrid";
}

<h2>FormGrid</h2>

<div>

    <table>
        <tr>
            <td class="form">Form1</td>
            <td class="form">Form2</td>
            <td class="form">Form3</td>
        </tr>
        <tr>
            <td class="form">Form4</td>
            <td class="form">Form5</td>
            <td class="form">Form6</td>
        </tr>
        <tr>
            <td class="form">Form7</td>
            <td class="form">Form8</td>
            <td class="form">Form9</td>
        </tr>
    </table>
</div>

